.barLabel {
  fill: #fff;
  text-anchor: middle;
  font-weight: lighter;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelHidden {
  display: none;
}

/*noinspection CssUnresolvedCustomProperty*/
.barLabelOutside {
  fill: var(--gantt-secondary-text-color);
  text-anchor: start;
  stroke: white;
  stroke-width: 4px;
  stroke-linejoin: round;
  paint-order: stroke;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
